<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="" type="text/css">
<link rel="stylesheet" href="static/css/theme.css" type="text/css">
<style media="screen">
  .bgpic{
    background: 'black.jpg';
  }
</style>
</head>

<body class='bgpic'>
  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact us</a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center text-white opaque-overlay" style ="background: url('static/pic/black.jpg')">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <i class="fa fa-home fa-4x"></i>
          <h2 class="my-3">Space Planning & Design</h2>
          <p>Based on fluid design principles. Works with any screen resolution</p>
        </div>
        <div class="col-md-3 p-4">
          <i class="fa fa-spoon fa-4x"></i>
          <h2 class="my-3">Modular Kitchen</h2>
          <p>Work simultaneously on different panels. Share the work with teammates.</p>
        </div>
        <div class="col-md-3 p-4">
          <i class=" fa fa-shower fa-4x"></i>
          <h2 class="my-3">Bathrooms</h2>
          <p>Help us spreading the word. Tell your friends with just one-click</p>
        </div>
        <div class="col-md-3 p-4">
          <i class="fa fa-spinner fa-4x"></i>
          <h2 class="my-3">Wardrobe & Storage Units</h2>
          <p>Choose settings depending on the criteria you value the most</p>
        </div>
        <div class="col-md-3 p-4">
          <i class="fa fa-pencil fa-4x"></i>
          <h2 class="my-3">Soft Furnishings</h2>
          <p>Choose settings depending on the criteria you value the most</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo1_big.png" class="d-block" alt="Pingendo logo1" height="16">
  </pingendo>
</body>

</html>
